
.sbj-layout .mdl-layout__header .mdl-layout__drawer-button{
    color: var(--sbj-color-default-text);
}

.sbj-drawer{
	border: none;
}

.sbj-drawer-header{
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
    padding: 0px 32px 4px 32px;
  	height: 60px;
}

.sbj-header-title{
	width: 100%;
	height: 100%;
	background: url('/image/logo.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sbj-navigation{
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-top: 4px !important;
}

.sbj-navigation-sub{
	color: var(--sbj-color-highlight-text);
	font-weight: 500;
	padding: 12px 40px;
	border-width: 1px;
	border-style: solid hidden solid;
    border-color: var(--sbj-color-menu-navi-border);	
}

.sbj-layout .sbj-navigation .mdl-navigation__link{
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--sbj-color-menu-navi);
	font-weight: 500;
}

.sbj-layout .sbj-navigation .mdl-navigation__link:hover{
	background-color: var(--sbj-color-menu-navi-background-hover);
	color: var(--sbj-color-menu-navi-text);
}

.sbj-navi-selection{
	background-color: var(--sbj-color-menu-navi-background);
	color: var(--sbj-color-menu-navi-text);
}

.sbj-navigation .mdl-navigation__link .material-icons{
	font-size: 24px;
	color: var(--sbj-color-menu-navi);
	margin-right: 32px;
}

.sbj-content {
	height: 100%;
}

 .sbj-main,
 .sbj-main-frame{
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
 }

.sbj-main{
	z-index: 3;
}

#sbj-main-home-visitor-frame{
	z-index: 2;
}

#sbj-main-home-livecast-frame{
	z-index: 4;
}

#sbj-main-home-screenshare-frame{
	z-index: 5;
}

#sbj-main-home-gadget-frame{
	z-index: 6;
}

.sbj-profile-frame{
     position: absolute;
     right: 0;
     width: 100%;
	 height: 100%;
	 z-index: 2;
}

/*-------------------------------------------------------------
 *	その他
 *-------------------------------------------------------------*/

.sbj-split{
	width: 100%;
	height: 100%;
}

.sbj-split-left {
    float: left;
    width: 360px;
	padding: 20px;
}

.sbj-split-right {
    overflow-y: scroll;
    float: right;
	padding: 20px;
    width: calc(100% - 440px);
    height: calc(100% - 40px);
}

#sbj-split-right-img{
    overflow-y: hidden;
    height: calc(100% - 40px);
}

.sbj-main-frame{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.sbj-dashboard-profile{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
}

.sbj-dashboard-profile-grid{
	width: 480px;
	overflow: auto;
	float: left;
	background: var(--sbj-color-menu-profile-grid);
	height: 100%;
	padding: 8px;
}

.sbj-dashboard-profile-label-card{
	display: flex;
	position: relative;
}

.sbj-dashboard-profile-label{
	width: calc(100% - 186px);
	margin: 16px 28px;
	float: left;
}

.sbj-dashboard-profile-button{
	margin: 8px;
	position: absolute;
	left: 338px;
}

.sbj-dashboard-profile-img-box {
    width: 96px;
    height: 96px;
    min-width: 96px;
    margin: 8px;
	background-size: cover;
}

.sbj-dashboard-profile-card{
	display: flex;
}

.sbj-dashboard-profile-cell {
	padding: 0px 0px 3px 0px;
	width: 440px;
	min-height: 140px;
	margin:16px;
}

.sbj-dashboard-profile-cell-select {
	border: 0px;
    border-bottom: 3px;
    border-style: solid;
	border-color: var(--sbj-color-icon-selection);
	width: 440px;
	min-height: 140px;
	margin:16px;
}


#sbj-dashboard-profile-name{
    font-weight: 600;
}

.sbj-dashboard-profile-info{
	width: calc(100% - 128px);
	margin: 8px;
}

.sbj-dashboard-profile-info-top
{
	display: flex;
	width: 100%;
}

.sbj-dashboard-profile-text{
	margin: 8px;
	width: calc(100% - 48px);
}

.sbj-dashborad-profile-edit{
	width: 140px;
	float: right;
}

.sbj-dashboard-profile-usage-button{
	position:absolute;
	bottom: 0px;
	left: 8px;
}

.sbj-dashboard-profile-actor-change-button{
	position:absolute;
	bottom: 8px;
	left: 128px;
}

.sbj-dashboard-profile-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--sbj-color-edge-background);
}

.sbj-dashboard-profile-name{
	margin: 0px;
}

.sbj-dashboard-room{
	width: 100%;
}

.sbj-dashbord-export{
	display: flex;
}

.sbj-dashbord-export-type{
	margin: 6px 18px;
}

.sbj-user-setting-option{
	margin: 8px 16px;
}

.sbj-user-setting-option-select{
	font-weight: 800;
}

.sbj-user-setting-option-noselect{
	font-weight: 400;
}

.sbj-dashbord-boot-instance{
	padding: 16px;
}

.sbj-dashbord-boot-instance-note{
	margin: 0px;
}
