
.sbj-layout .mdl-layout__header .mdl-layout__drawer-button{
    color: var(--sbj-color-default-text);
}

.sbj-drawer{
	border: none;
}

.sbj-drawer-header{
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
  	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
    padding: 0px 32px 4px 32px;
  	height: 60px;
}

.sbj-header-title{
	width: 100%;
	height: 100%;
	background: url('/image/logo.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.sbj-navigation{
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding-top: 4px !important;
}

.sbj-navigation-sub{
	color: var(--sbj-color-highlight-text);
	font-weight: 500;
	padding: 12px 40px;
	border-width: 1px;
	border-style: solid hidden solid;
    border-color: var(--sbj-color-menu-navi-border);	
}

.sbj-layout .sbj-navigation .mdl-navigation__link{
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--sbj-color-menu-navi);
	font-weight: 500;
}

.sbj-layout .sbj-navigation .mdl-navigation__link:hover{
	background-color: var(--sbj-color-menu-navi-background-hover);
	color: var(--sbj-color-menu-navi-text);
}

.sbj-navi-selection{
	background-color: var(--sbj-color-menu-navi-background);
	color: var(--sbj-color-menu-navi-text);
}

.sbj-navigation .mdl-navigation__link .material-icons{
	font-size: 24px;
	color: var(--sbj-color-menu-navi);
	margin-right: 32px;
}

.sbj-content {
	height: 100%;
}

/*-------------------------------------------------------------
 *	その他
 *-------------------------------------------------------------*/

.sbj-profile-grid{
	margin: 20px;
}

.sbj-profile-cell{
    max-width: 584px;
    height: 300px;
    margin: 8px 8px 28px 8px;}

.sbj-profile{
	width:100%;
}

#sbj-profile-note{
	resize: none;
}

.sbj-actor{
	width:100%;
}

.sbj-info{
	width:100%;
}

.sbj-icon{
	width:100%;
	height:100%;
}

.sbj-icon-cell{
	margin:8px;
	width: 184px;
	height:184px;
	min-height: 184px;
}

.sbj-split{
	width: 100%;
	height: 100%;
}


.sbj-split-left {
    float: left;
    width: 360px;
	padding: 20px;
}

.sbj-split-right {
    overflow-y: scroll;
    float: right;
	padding: 20px;
    width: calc(100% - 440px);
    height: calc(100% - 40px);
}

#sbj-split-right-img{
    overflow-y: hidden;
    height: calc(100% - 40px);
}

#sbj-actor-note{
	resize: none;
}

.sbj-main-frame{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.sbj-dashbord-export{
	display: flex;
}

.sbj-dashbord-export-type{
	margin: 6px 18px;
}

.sbj-user-setting-option{
	margin: 8px 16px;
}

.sbj-user-setting-option-select{
	font-weight: 800;
}

.sbj-user-setting-option-noselect{
	font-weight: 400;
}