body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#sbj-livehtml-visitor-main {
    width: 100%;
    height: 100%;
    background-color: var(--sbj-color-cast-background);
}

#sbj-livehtml-contents{
    position: relative;
    height:100%;
    width:100%;
}

.sbj-layer{
    position: absolute;
    height:100%;
    width:100%;
    overflow-y: auto;
}

#sbj-message-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--sbj-color-edge-background);
}

#sbj-subtitle-message{
    position: absolute;
    margin: 0px;
    width: 100%;
    text-align: center;
    top: calc(50% - 20px);
    color: var(--sbj-color-default-text);
}

#sbj-item-layer{
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#sbj-cursor-layer{
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#sbj-control-contents{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom : 0px;
    height: 52px;
    background-color: var(--sbj-color-edge-background);
}

#sbj-reload-button{
    position: absolute;
    background-color: var(--sbj-color-timeline-panel);
    border-radius: 6px;
    bottom: 10px;
    right: 10px;
}