
.sbj-profile-main{
    width: 100%;
}

.sbj-profile-header{
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}

.sbj-profilie-tab-bar{
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}

.mdl-layout__tab{
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}


.sbj-profile-text-left{
    float: left;
    width: 300px;
    margin: 24px 24px 12px 24px;
}

.sbj-profile-text-right{
    float: right;
    width: calc(100% - 396px);
    margin: 24px 24px 12px 24px;
}

.sbj-profile-haeder{
    min-height: 48px;
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text);
}

.sbj-profile-header-row{
    padding: 0px 0px 0px 16px;
}

.sbj-profile-note{
    width: 100%;
}

.sbj-profile-icons-menu
{
    float: left;
    position: fixed;
    width: 96px;
    margin: 12px 0px;
}

.sbj-profile-icons-list
{
    float: right;
    width: calc(100% - 96px);
    margin: 4px;
}

.sbj-profile-icons-view-main{
    display: flex;
}
