
.sbj-profile{
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
    background-color: var(--sbj-color-edge-background);
}

.sbj-profile-layout{
    width: calc(100% - 512px);
    height: calc(100% - 64px);
    position: absolute;
    top: 32px;
    right: 96px;
}

.sbj-profile-layout_content{
    height: 365px;
}

.sbj-profile-main{
    width: 100%;
}

.sbj-profile-header{
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}

.sbj-profile-header-title-row{
    margin: 16px;
    width: calc(100% - 32px);
}

.sbj-profile-title{
    float: left;
    width: 60%;
    margin: 8px;
}

#sbj-profile-dialog-close{
    float: right;
}

.sbj-profilie-tab-bar{
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}

.mdl-layout__tab{
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text)
}


.sbj-profile-text-left{
    float: left;
    width: 300px;
    margin: 12px 24px;
}

.sbj-profile-text-right{
    float: right;
    width: calc(100% - 396px);
    margin: 12px 24px;
}

.sbj-profile-haeder{
    min-height: 48px;
    background-color: var(--sbj-color-default-background);
    color: var(--sbj-color-default-text);
}

.sbj-profile-header-row{
    padding: 0px 0px 0px 16px;
}

.sbj-profile-footer{
    background-color: var(--sbj-color-default-background);
    height: 36px;
    padding: 16px;
    display: flex;
}

.sbj-profile-footer-panel{
    width : 100%;
}

.sbj-profile-footer-left{
    float: left;
    padding: 6px;
}

.sbj-profile-footer-right{
    float: right;
}

.sbj-profile-note{
    width: 100%;
}

.sbj-profile-sub-menu
{
    float: left;
    position: fixed;
    width: 96px;
    margin: 12px 0px;
}

.sbj-profile-sub-list
{
    float: right;
    width: calc(100% - 96px);
    margin: 4px;
}

.sbj-profile-sub-view-main{
    display: flex;
}

/*-------------------------------------------------------------
 *	ガイド用
 *-------------------------------------------------------------*/

.sbj-guide{
	width:100%;
	height:100%;
}

.sbj-guide-header-label{
    margin: 8px 0px;
}

.sbj-guide-options{
    margin: 8px 0px;
}

.sbj-guide-list-item-keywaord{
    margin: 16px;
    font-weight: 700;
}

.sbj-guide-list-item-note{
    margin: 16px;
    width: calc(100% - 32px);
}

#sbj-guide-youtube-player{
    width:320px;
    height: 180px;
}

.sbj-guide-note{
    width: 100%;
}

.sbj-guide-main{
    margin: 16px;
}

.sbj-guide-select{
	width: 100%;
	height: calc(100% - 3px);
	border: 0px;
	border-bottom: 3px;
	border-style: solid;
	border-color: var(--sbj-color-icon-selection);
}

.sbj-guide-delete-button{
    float: right;
}

.sbj-guide-gadget{
    width:100%;
    min-height: 256px;
}

.sbj-guide-embed-title{
    padding: 8px 16px;
}

.sbj-guide-embed-left{
    float: left;
    width: 300px;
    margin: 8px 8px;
}

.sbj-guide-embed-right{
    float: right;
    width: calc(100% - 360px);
    margin: 8px 8px;
}

.sbj-guide-no-embed{
    text-align: center;
}