
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.sbj-livedom-visitor-contents {
    width: 100%;
    height: 100%;
    background-color: var(--sbj-color-cast-background);
}

.sbj-livedom{
    position: absolute;
}

#sbj-livedom-visitor-message-port{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sbj-color-edge-background);
}

#sbj-livedom-visitor-message{
    position: absolute;
    margin: 0px;
    width: 100%;
    text-align: center;
    top: calc(50% - 20px);
    color: var(--sbj-color-default-text);
}

.sbj-livedom-visitor-button {
    position: absolute;
    background-color: var(--sbj-color-timeline-panel);
    border-radius: 6px;
}

.sbj-livedom-visitor-mobile-button{
    height: 48px;
    width: 48px;
}

#sbj-cast-item-port{
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#sbj-cast-cursor-port{
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.sbj-cast-button {
    position: absolute;
    background-color: var(--sbj-color-timeline-panel);
    border-radius: 6px;
}

#sbj-cast-reload{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#sbj-cast-submenu{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom : 0px;
    height: 52px;
    background-color: var(--sbj-color-edge-background);
}

