
 .sbj-video-content{
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.sbj-video-preview {
    width: 100%;
    height: 100%; 
    background-color: var(--sbj-color-edge-background);
    position: absolute;
}

#sbj-cast-item-port{
    position: absolute;
    height: 100%;
    width: 100%;
}

#sbj-cast-cursor-port{
    height: 100%;
    width: 100%;
}

#sbj-bottom-toolbar{
    position: absolute;
    width: 80%;
    bottom: 10%;
    left: 10%;
    z-index: 3;
}
