
.sbj-container {
    max-width: 1600px;
    min-width: 900px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.sbj-header{
    padding-left: 40px;
}

.sbj-layout{
    padding: 10px 40px;
}

.sbj-mobile-qrcode-frame{
    width: 340px;
    height: 340px;
}

.sbj-mobile-qrcode-box{
    width: 340px;
    height: 340px;
    margin: auto;
}

.sbj-cast-instance-option{
    margin: 20px 4px 0px 0px;
}

/*-----------------------------
 *
 *---------------------------*/

.sbj-split-left {
    float: left;
    width: 550px;
    padding: 0px;
}

.sbj-split-right {
    float: right;
    width: calc(100% - 568px);
}


/*-----------------------------
 *
 *---------------------------*/

 .sbj-client-link{
    padding: 16px 0px;
}

.sbj-client-link-qrcode-box{
    margin: 24px 0px;
    width: 340px;
    height: 340px;
}

.sbj-client-link-qrcode-frame{
    width: 340px;
    height: 340px;
}