/*-----------------------------
 *  ActorSelectorDialog
 *---------------------------*/

.sbj-dialog-actor-selector-list-title{
    margin: 10px;
    text-decoration: underline;
}

.sbj-dialog-actor-selecter-right{
    float: right;
    width: 50%;
    height:350px;
}

.sbj-dialog-actor-selecter-left{
    float: left;
    width: 50%;
    height:350px;
}

.sbj-dialog-actor-selecter-list{
    overflow-y: scroll;
    height:340px;
}

/*-----------------------------
 *  
 *---------------------------*/

 .sbj-profile-frame{
     position: absolute;
     top: 64px;
     right: 0;
     width: 100%;
     height: calc(100% - 64px);
 }

/*-----------------------------
 *  
 *---------------------------*/
.sbj-home-visitor{
    width: 100%;
    height: 100%;
    padding: 16px;
}

.sbj-home-visitor-header-row{
    padding: 0px 40px 0px 32px;
}

#sbj-home-visitor-account-count{
    margin-right: 16px;
}

#sbj-home-visitor-room-member{
    width: 260px;
}

.sbj-home-visitor-room-member-item{
    padding: 8px 16px;
}

.sbj-home-visitor-room-member-icon{
    margin-right: 8px !important;
}

.sbj-home-visitor-room-actor-icon{
    margin-right: 8px !important;
    margin-left: 32px !important;
}

.split-pane{
    background-color: var(--sbj-color-room-default-background);
}

.sbj-split-pane-component-left{
    background-color: var(--sbj-color-timeline-panel);
    width: 50%;
    min-width: 450px;
}

.sbj-split-pane-component-right{
    margin-left: 5px;
    overflow: hidden !important;    
}

.sbj-home-visitor-connecting{
    margin: 20px;
}

#sbj-home-visitor-gadget-component{
    left: 50%;
}

#sbj-home-visitor-title{
    margin: 0px 24px 0px 0px;
}

#sbj-home-visitor-timeline-component {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 168px);    
}

#sbj-home-visitor-divider {
    left: 50%;
    width: 5px;
    background-color: var(--sbj-color-edge-background);
}

.sbj-home-visitor-disconnect-action{
    padding: 0px 16px;
}

/*-----------------------------
 * 
 *---------------------------*/

.sbj-invitation-box{
    padding: 24px;
}

.sbj-invitation-text{
    color: var(--sbj-color-highlight-text);
}

#sbj-start-visitor 
{
    margin: 0px 0px 0px 16px;
}

#sbj-stop-visitor{
    margin: 0px 0px 0px 16px;
}

.sbj-room{
    width: 100%;
    height: 100%;
}


.sbj-room-info-icon{
    color: var(--sbj-color-default-text);
    font-size: 32px;
    margin: 0px 4px 0px 16px;
}

.sbj-room-info-text{
    color: var(--sbj-color-default-text);
    font-size: 22px;
    margin-top:4px;
}

#sbj-actor-profile-name{
    font-weight: 600;
}

/*-----------------------------
 *  Input panel
 *---------------------------*/

.sbj-inputpanel{
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: var(--sbj-color-default-background);
    padding-left: 12px;
    border-radius: 6px;    
}

.sbj-inputpanel-icontext{
    padding:0px;
    clear:both;
}

.sbj-inputpanel-action{
    padding:0px;
    clear:both;
    margin: 0px 0px 0px -8px;
}

.sbj-inputpanel-button{
    padding: 0px 8px;
}

.sbj-inputpanel-actor-name{
    padding: 6px 8px 2px 12px;
    float: left;
}

.sbj-inputpanel-ather-room{
    bottom: 172px;
}


.sbj-unread-count{
    color: var(--sbj-color-default-text);
    float: right;
    position: relative;
    display: flex;
    margin: 0px 20px 0px 0px;
    height: 32px;
}

#sbj-inputpanel-other-room-button{
    color: var(--sbj-color-default-text);
}

.sbj-inputpanel-noread-icon{
    margin: 4px;
}

.sbj-inputpanel-actor-icon{
    width: 72px;
    height: 72px;
    margin: 4px;
    border-radius: 8px;
    background-color: var(--sbj-color-default-background);
    float: left;
}

textarea.sbj-inputpanel-text {
    width: calc(100% - 128px);
    height:58px;
    margin: 4px;
    border-radius: 10px;
    outline: none;
    padding: .5em 1em;
    resize: none;
    float:left;
}

#sbj-inputpanel-send-message-button{
    float: right;
}

.sbj-icon{
	width:100%;
	height:100%;
}

.sbj-icon-cell{
	margin:4px;
	width: 96px;
	height:96px;
    min-height: 96px;
}

.sbj-actor{
    width: 100%;
}

.sbj-select-actor{
    background-color: var(--sbj-color-actor-selection);
    font-weight: 600;
}

.sbj-home-visitor-profile-editer{
    width: 100%;
    height: 660px;
}

/*-----------------------------
 *  cast control panel
 *---------------------------*/

.sbj-cast-selector{
    position: absolute;
    bottom: 50px;
    left: 8px;
    right: 8px;
    background-color: var(--sbj-color-default-background);
    padding-left: 12px;
    border-radius: 6px;    
    height: 108px;
    display: flex;
}

.sbj-cast-selector-img-box {
    width: 72px;
    height: 72px;
    min-width: 72px;
    margin: 4px;
    background-size: cover;
}

.sbj-cast-selector-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--sbj-color-edge-background);
}

.sbj-cast-selector-type {
    color: var(--sbj-color-default-text);
    padding: 1px 4px;
    margin: 4px 4px;
    border-radius: 3px;
    width: 64px;
    text-align: center;
}

.sbj-cast-select{
    background-color: var(--sbj-color-edge-background);
    color: var(--sbj-color-highlight-text);
}

.sbj-cast-control{
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: var(--sbj-color-default-background);
    padding-left: 12px;
    border-radius: 6px;    
}

.sbj-cast-control-action{
    padding:0px;
    clear:both;
    min-width: 400px;
}


/*-----------------------------
 *  timeline
 *---------------------------*/

.sbj-timeline {
    width: 100%;
    height: calc(100% - 184px);
    overflow-y: scroll;
}

.sbj-timeline-flex-right {
    display: flex;
    border: 0px;
    margin: 0px 18px 0px 0px;
    clear: both;
    float: right;
}

.sbj-timeline-flex-left {
    display: flex;
    border: 0px;
    margin: 0px 0px 0px 18px;
    clear: both;
    float: left;
}

.sbj-timeline-img-box {
    width: 72px;
    height: 72px;
    min-width: 72px;
    margin: 4px;
    background-size: cover;
}

.sbj-timeline-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--sbj-color-edge-background);
}


.sbj-timeline-img-empty {
    width: 72px;
    height: 72px;
    min-width: 72px;
}

.sbj-timeline-adjust{
    min-width: 80px;
    min-height: 80px;
}

.sbj-timeline-balloon {
    border-radius: 5px;
    margin: 1px;
    background-color: var(--sbj-color-timeline-ballon);
    clear: both;
}

.sbj-timline-message-box{
    margin: 4px 2px;
}

label.sbj-timeline-name {
    font-size: 12px;
    color: var(--sbj-color-timeline-name);
    padding: 0px 4px;
    margin: 0px 1px;
    text-decoration: none;
    background-color: var(--sbj-color-timeline-name-background);
    border-radius: 3px;
}

p.sbj-timeline-message {
    font-size: 16px;
    color: var(--sbj-color-timeline-message);
    margin: 2px;
}

p.sbj-timeline-message:hover{
    background-color: var(--sbj-color-timeline-ballon-hover);
}

i.sbj-timeline-message-icon{
    color: var(--sbj-color-timeline-ballon);
}


.sbj-timeline-message-autolink{
    color: var(--sbj-color-link-text);
}

p.sbj-timeline-message-ignore {
    text-decoration: line-through;
    color: var(--sbj-color-timeline-message-ignore);
}

.sbj-timeline-ignore{
    height: 24px;
}

/*-----------------------------
 *  livecast
 *---------------------------*/
#sbj-home-visitor-livecast{
    padding: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 176px);
}

.sbj-home-visitor-mobile-label{
    margin: 0px;
}

.sbj-cast-selector-mobile-mark{
    margin: 42px 0px 0px 42px;
    font-size: 24px;
    color: var(--sbj-color-link-text);
    background-color: var(--sbj-color-default-background);
    border-color: var(--sbj-color-link-text);
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
}

.sbj-home-visitor-qrcode{
    width: 340px;
    height: 340px;
}