
.sbj-cast-instance{
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
    background-color: var(--sbj-color-edge-background);
}

.sbj-cast-instance-layout{
    width: 100%;
    height: 100%;
}

.sbj-split-left {
    float: left;
    width: 550px;
    padding: 0px;
}

.sbj-split-right {
    float: right;
    width: calc(100% - 554px);
}

#sbj-cast-instance-main{
    margin: 16px 32px;
}

#sbj-livecast-room-name{
    display: inline-block;
    margin: 0px 20px;
}

.sbj-cast-instance-actions{
    margin: 16px 0px;
}

.sbj-cast-instance-device{
    padding: 16px;
}

.sbj-cast-instance-device-select{
    outline: 0;
}

.sbj-cast-instance--header-row{
    padding: 0px 20px 0px 32px;
}

#sbj-cast-instance-title {
    padding: 0px 20px 0px 0px;
}

#sbj-cast-instance-account-count{
    margin-right: 16px;
}

.sbj-cast-instance-option{
    margin: 20px 4px 0px 0px;
}

#video {
    width: 480px;
    height: 360px;
    background-color: var(--sbj-color-edge-background);
}

.sbj-dialog-close{
	min-width: 36px;
    width: 36px;
    padding: 0px;
}

.sbj-cast-instance-setting-card.mdl-card {
    padding: 10px;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 72px;
    left: 256px;
}

/*-----------------------------
 *
 *---------------------------*/

.sbj-client-link{
    padding: 16px 0px;
}

.sbj-mobile-qrcode-box{
    margin: 24px 0px;
    width: 340px;
    height: 340px;
}

.sbj-link-qrcode-frame{
    width: 340px;
    height: 340px;
}