
.sbj-dialog{
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: var(--sbj-dialog-background-color);
	overflow: hidden;
}

.sbj-dialog-background {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.sbj-dialog-title{
	float:left;	
	margin:10px 0px 0px 8px;
}

.sbj-dialog-title-icon{
	font-size: 48px;
	float:left;
}

.sbj-dialog-close{
	min-width: 36px;
    width: 36px;
    padding: 0px;
}

.sbj-dialog-view{
	width: calc(100% - 32px);
}

.sbj-dialog-attach-action-left {
	text-align:left;
	float: left;
}

.sbj-dialog-attach-action-right{
	text-align:right;
}

.sbj-dialog-card.mdl-card {
    padding: 10px;
    width: 480px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -270px 0 0 -240px;
}

.sbj-dialog-item-icon{
    color: var(--sbj-color-default-text);
}

/*-------------------------------------------------------------
 *	画像登録ダイアログ用
 *-------------------------------------------------------------*/

.sbj-image-view{
	margin:8px;
}

.sbj-image-drop-text{
	text-align: center;
	width:100%;
}

.sbj-image-card.mdl-card {
    padding: 10px;
    width: 468px;
    height: 572px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -286px 0 0 -234px;
}


.sbj-image-card > .mdl-card__title {
    color: var(--sbj-color-image-dialog-text);
    background-color: var(--sbj-color-image-dialog-append);
}

.sbj-image-edit-label {
    width: 400px;
}

.sbj-image-css-selection {
	background-color: var(--sbj-color-image-dialog-css-select);
}

.sbj-image-css-selection:hover{
	background-color: var(--sbj-color-image-dialog-css-select);
}

#sbj-image-center{
	position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px)
}

#sbj-image-left{
	position: absolute;
	top: calc(50% - 20px);
    left: 26px;
}

#sbj-image-right{
	position: absolute;
	top: calc(50% - 20px);
    right: 26px;
}

#sbj-image-top{
	position: absolute;
	top: calc(20% - 20px);
    left: calc(50% - 20px)
}

#sbj-image-bottom{
	position: absolute;
	top: calc(80% - 20px);
    left: calc(50% - 20px)
}

#sbj-image-cover{
	position: absolute;
	top: calc(80% - 20px);
    left: 26px;
}

#sbj-image-contain{
	position: absolute;
	top: calc(80% - 20px);
    left: 76px;
}


/*-------------------------------------------------------------
 *	ガイド用
 *-------------------------------------------------------------*/

.sbj-guide-view{
	margin:8px;
}

.sbj-guide-card.mdl-card {
    padding: 10px;
    width: 780px;
    height: 614px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -307px 0 0 -390px;
}

.sbj-guide-card > .mdl-card__title {
    color: var(--sbj-color-guide-dialog-text);
    background-color: var(--sbj-color-guide-dialog-append);
}


/*-------------------------------------------------------------
 *	アイコン用
 *-------------------------------------------------------------*/

.sbj-icon{
	width:100%;
	height:100%;
}

.sbj-icon-select{
	width: 100%;
	height: calc(100% - 3px);
	border: 0px;
	border-bottom: 3px;
	border-style: solid;
	border-color: var(--sbj-color-icon-selection);
}

.sbj-icon-cell{
	margin:8px;
	width: 184px;
	height:184px;
	min-height: 184px;
}
