.sbj-cast-cursor {
    position: absolute;
    overflow: visible;
}

.sbj-cast-cursor-pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    user-select: none;
}

.sbj-cast-subtitles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96px;
    text-align: center;
}

.sbj-cast-subtitles-text {
    margin: 8px;
    padding: 8px;
    border: 8px;
    color: var(--sbj-color-highlight-text);
    text-shadow: -1px -1px 0 var(--sbj-color-default-text);
    font-size: 32px;
    background-color: var(--sbj-color-edge-background);
}


